{% load i18n %}
<div class="modal fade" id="switch-page-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{% trans 'Scambia pagina' %} {{page.number}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group row">
                    <label for="" class="col-sm-4 col-form-label">Con pagina</label>
                    <div class="col-sm-8">
                        <select class="form-control" id="switch-page-select">
                            {% for p in project.pages.all %}
                            {% if p.number != page.number %}
                            <option value="{{p.number}}">{{p.number}}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="App.page.switch_project_page()">{% trans
                    'Scambia' %}</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans 'Annulla' %}</button>
            </div>
        </div>
    </div>
</div>